h4 {
  font-size: 30px;
}

header {
  min-height: 5vh;
}

footer {
  min-height: 5vh;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
}

aside {
  width: 13%;
  text-align: center;
  font-size: 25px;
  color: green;
}

.conteiner {
  max-width: 1140px;
  margin: 0 auto;
}

.lang_menu {
  background-color: #00b7ff;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  background-color: transparent;
}

/* 
  #voice {
    font-size: 0.875rem;
    font-family: inherit;
  }
*/
.left {
  overflow: hidden;
  position: relative;
}

.left::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(img/right.jpg);
  opacity: .6;
  z-index: -1;
}

.left__ul {
  color: rgba(52, 221, 18, 0.952);
  font-size: 20px;
}

.left__ul__item {
  padding-top: 0.5rem;
}

.left__ul__item__obj {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.right {
  overflow: hidden;
  position: relative;
}

.right::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(img/left.jpg);
  opacity: .6;
  z-index: -1;
}

.right__conteiner__words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right__conteiner__words__item {
  padding-right: 5px;
  color: #0004ff;
  font-size: 16px;
}

.right__conteiner__words__remove {
  color: grey;
  border: 1px solid red;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  font-size: 15px;
}

.main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(img/main_backgroung.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: blue;
}

.abc_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

.letter {
  width: 80px;
  height: 80px;
  border: 1px solid #F26376;
  line-height: 80px;
  text-align: center;
  background-color: yellow;
  background: rgba(235, 231, 8, 0.6);
}

.letter_margin_abc {
  margin: 10px;
}

.movelink_letter {
  cursor: pointer;
}

.maked_word {
  margin-top: 40px;
  width: 90%;
  padding-bottom: 80px;
}

.maked_word__word {
  background: rgba(8, 209, 235, 0.6);
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 82px;
}

.maked_word__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
}

.buttons {
  font-size: 20px;
  min-width: 80px;
  min-height: 25px;
  background-color: tomato;
}

.disp_none {
  display: none;
}

.active {
  color: #495057;
  background-color: #3fd32b;
  border-color: #dee2e6 #dee2e6 #fff;
}
/*# sourceMappingURL=style.css.map */