@import "scss/vars";
h4{
    font-size: 30px;
}


.blue{
    color: blue;
}
.red{
    color: red;
}
.wrapper{
    display: flex;
}
.menu{
    width: 13%; 
    background: #C8EAF5; 
    text-align: center;
    font-size: 25px;
    color: green;
    &__ul{
        color: rgba(52, 221, 18, 0.952);
        font-size: 20px;
        &__item{
            padding-top: 0.5rem;
            &__obj{
                color: black;
                text-decoration: none;
                background-color: transparent;
            }
        }
    }
}

.conteiner{
    max-width: $widthConteiner;
    margin: 0 auto;
}
.lang_menu{
    background-color: rgb(0, 183, 255);
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.active{
    color: #495057;
    background-color: rgb(63, 211, 43);
    border-color: #dee2e6 #dee2e6 #fff;
  }
 /* 
  #voice {
    font-size: 0.875rem;
    font-family: inherit;
  }
*/

.abc_cont{
    background-color: yellow;
    display:flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 74%; 
}
.letter{
    width: $letterSize;
    height: $letterSize;
    border: 1px solid #F26376;
    line-height: $letterSize;
    text-align: center;
}
.letter_margin_abc{
    margin: 10px;
}
.movelink_letter { cursor: pointer; }

.maked_word{
    margin-top: 40px; 
    &__word{
        background-color:rgb(127, 200, 241);
        background: #C8EAF5; 
        border: 1px solid #000;
        display:flex;
        justify-content: center;
        height: $letterSize+2px;
    }
    &__buttons{
        display: flex;
        justify-content:space-around;
        padding-top: 15px;
    }
}
.buttons{
    font-size: 20px;
    min-width: 80px;
    min-height: 25px;
    background-color: tomato;
}
.disp_none
{
    display: none;
}