@import "scss/vars";
h4{
    font-size: 30px;
}
header{
    min-height: 5vh;
}
footer{
    min-height: 5vh;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.wrapper{
    display: flex;
    height: 90vh;
}

aside{
    width: 13%; 
    background: #C8EAF5; 
    text-align: center;
    font-size: 25px;
    color: green;
}

.conteiner{
    max-width: $widthConteiner;
    margin: 0 auto;
}
.lang_menu{
    background-color: rgb(0, 183, 255);
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    background-color: transparent;
}
 /* 
  #voice {
    font-size: 0.875rem;
    font-family: inherit;
  }
*/
.left{
    overflow:hidden;
    &__ul{
        color: rgba(52, 221, 18, 0.952);
        font-size: 20px;
        &__item{
            padding-top: 0.5rem;
            &__obj{
                color: black;
                text-decoration: none;
                background-color: transparent;
            }
        }
    }
}

.right{
    &__conteiner{
        &__words{
            display:flex;
            justify-content:flex-end;
            align-items: center;
            &__item{
                padding-right: 5px;
                color: blue;
                font-size: 20px;
            }
            &__remove{
                color:  grey;
                border: 1px solid red;
                border-radius: 50%;
                display: flex;
                justify-content:center;
                align-items: center;
                width: 20px;
                height: 20px;
                font-size: 15px;
            }
        }

    }
}
.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.abc_wrap{
    //min-height: 100vh - 20px - 80px - 10px;
}
.abc_cont{
    background-color: yellow;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 90%; 
}
.letter{
    width: $letterSize;
    height: $letterSize;
    border: 1px solid #F26376;
    line-height: $letterSize;
    text-align: center;
}
.letter_margin_abc{
    margin: 10px;
}
.movelink_letter { cursor: pointer; }

.maked_word{
    margin-top: 40px; 
    width: 95%;
    padding-bottom: 80px;
    &__word{
        background-color:rgb(127, 200, 241);
        background: #C8EAF5; 
        border: 1px solid #000;
        display:flex;
        justify-content: center;
        height: $letterSize+2px;
    }
    &__buttons{
        display: flex;
        justify-content:space-around;
        padding-top: 15px;
    }
}
.buttons{
    font-size: 20px;
    min-width: 80px;
    min-height: 25px;
    background-color: tomato;
}
.disp_none
{
    display: none;
}

.active{
    color: #495057;
    background-color: rgb(63, 211, 43);
    border-color: #dee2e6 #dee2e6 #fff;
  }